# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = Oliver Lew
    email = oliver_lew@outlook.com
[core]
    editor = vim
    filemode = true
[gui]
    spellingdictionary = none
[alias]
    ls = ls-tree master --name-only -r
    s = status
    c = commit
    cm = commit -m
    l = log
    b = branch
