[submodule "mpv/autosub-mpv"]
	path = mpv/autosub-mpv
	url = https://github.com/vayan/autosub-mpv
[submodule "mpv/mpv-filenavigator"]
	path = mpv/mpv-filenavigator
	url = https://github.com/jonniek/mpv-filenavigator
