@import "/usr/share/rofi/themes/gruvbox-dark.rasi"

window {
    border: 0px;
    padding: 0px;
}

mainbox {
    spacing: 0;
}

inputbar {
    padding: 30px;
}

listview {
    padding: 0;
    spacing: 0;
    scrollbar: false;
}

element {
    padding: 16px;
}
