@import '/etc/xdg/waybar/style.css';

* {
    /* use the "Propo" variant of Nerd font to for correct glyph widths */
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 14px;
}

window#waybar {
    background-color: #1c1c1c;
    border-bottom: 0px;
    color: #ffffff;
}

window#waybar.empty {
    background-color: transparent;
}

#bluetooth {
    background-color: #64727D;
    padding: 0 10px;
}

#custom-dunst.enabled {
    color: #000000;;
    background-color: #2ecc71;
}

#custom-dunst.disabled {
    color: #000000;;
    background-color: #f0932b;
}
