[Unit]
Description=Qbittorrent daemon without X11
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/qbittorrent-nox
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
