[Unit]
Description=Shadowsocks-Libev Client Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ss-local -c ${HOME}/.config/shadowsocks/config.json

[Install]
WantedBy=default.target
