[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/transmission-daemon -f --log-info
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=default.target
