# ENV VARIABLES
# QT theme
export QT_QPA_PLATFORMTHEME=gtk2
# chinese input method
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
# nocsd hack
export GTK_CSD=0
export LD_PRELOAD=/usr/lib/libgtk3-nocsd.so.0

# LOAD FILES
# .profile
[[ -f $HOME/.profile ]] && . $HOME/.profile
# modify keymapping
[[ -f $HOME/.Xmodmap ]] && xmodmap $HOME/.Xmodmap
# load xresources
[[ -f $HOME/.Xresources ]] && xrdb -load $HOME/.Xresources

# INPUT DEVICES
# set the target device here, it can be found by `xinput` command
trackpad="AlpsPS/2 ALPS GlidePoint"
# lininput-gestures
libinput-gestures-setup start
# enable natural scrolling
xinput set-prop "$trackpad" "libinput Tapping Enabled" 1
# enable tapping
xinput set-prop "$trackpad" "libinput Natural Scrolling Enabled" 1
# set acceleration
xinput set-prop "$trackpad" "libinput Accel Speed" 0.5

# disable bell
xset -b

# pcmanfm daemon, for automount drives
#pcmanfm -d &
# thunar daemon
if [[ ! `pgrep thunar` ]]; then thunar --daemon; fi &

# start Chinese input method
if [[ ! `pgrep fcitx` ]]; then fcitx; fi

# start compton
if [[ ! `pgrep thunar` ]]; then compton -b; fi

# polkit agent
if [[ ! `pgrep polkit-gnome` ]]
then
    /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
fi
