#! /bin/sh

# QT theme
export QT_QPA_PLATFORMTHEME=gtk2
# chinese input method
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
# nocsd hack
export GTK_CSD=0
export LD_PRELOAD=/usr/lib/libgtk3-nocsd.so.0

# the last if block in /etc/X11/xinit/xinitrc
if [ -d /etc/X11/xinit/xinitrc.d ] ; then
 for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
  [ -x "$f" ] && . "$f"
 done
 unset f
fi

# LOAD FILES
[ -f "$HOME/.bashrc" ] && . "$HOME/.bashrc"
[ -f "$HOME/.profile" ] && . "$HOME/.profile"
[ -f "$HOME/.Xmodmap" ] && xmodmap "$HOME/.Xmodmap"
[ -f "$HOME/.Xresources" ] && xrdb -merge "$HOME/.Xresources"

# configure trackpad, it can be found by `xinput` command
trackpad="AlpsPS/2 ALPS GlidePoint"
trackpad="ALP001A:00 044E:121B Touchpad"
xinput set-prop "$trackpad" "libinput Tapping Enabled" 1
xinput set-prop "$trackpad" "libinput Natural Scrolling Enabled" 1
xinput set-prop "$trackpad" "libinput Accel Speed" 0.5

# start up applications
fcitx -d
pgrep -x udiskie || udiskie -s &
pgrep -x nm-applet || nm-applet &
pgrep -x picom || picom &
pgrep -x urxvtd || urxvtd -q -f -o
libinput-gestures-setup start
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
