! -- Xft settings -- !
Xft.dpi       : 96
Xft.antialias : true
Xft.rgba      : rgb
Xft.hinting   : true
Xft.hintstyle : hintslight

! -- Cursor -- !
Xcursor.theme: Breeze-Adapta-Cursor

! -- URxvt UI -- !
URxvt.depth              : 32
! URxvt.geometry           : 80x24
URxvt.internalBorder     : 0
URxvt.externalBorder     : 0
URxvt.letterSpace        : 0
URxvt.saveLines          : 10000
URxvt.scrollBar          : false
URxvt.scrollstyle        : rxvt

! Do not scroll in less, etc (do not seem to be working?)
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
! do not scroll with output
URxvt.scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

! -- Perl extensions -- !
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
! Right click to open url
URxvt.matcher.button: 3
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.underlineURLs: True
! disable ctrl-shift keybinding
URxvt.iso14755: false
URxvt.iso14755_52: false
! copy and paste with S+C+c/v
URxvt.clipboard.autocopy: true
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! -- Fonts -- !
URxvt.font: xft:Hack:size=12, xft: WenQuanYi Micro Hei:size=12
URxvt.boldFont: xft:Hack:style=Bold:size=12, xft: WenQuanYi Micro Hei:size=12

st.alpha: 0.8
st.borderpx: 0

tabbed.font: Noto Sans CJK SC:pixelsize=12
tabbed.tabwidth: 200

Sxiv.font: xft:Monospace:pixelsize=14, xft:Noto Sans CJK SC:pixelsize=14

Xautolock.time: 10
Xautolock.locker: slock

/* *background : #263238 */
*cursorColor: #ECEFF1
*foreground: #ECEFF1
*background: #212121
*color0: #546E7A
*color1: #FF5252
*color2: #5CF19E
*color3: #FFD740
*color4: #40C4FF
*color5: #FF4081
*color6: #64FCDA
*color7: #FFFFFF
*color8: #B0BEC5
*color9: #FF8A80
*color10: #B9F6CA
*color11: #FFE57F
*color12: #80D8FF
*color13: #FF80AB
*color14: #A7FDEB
*color15: #FFFFFF
