! -- Xft settings -- !
Xft.dpi       : 96
Xft.antialias : true
Xft.rgba      : rgb
Xft.hinting   : true
Xft.hintstyle : hintslight

! -- URxvt UI -- !
URxvt.depth              : 32
URxvt.geometry           : 80x24
URxvt.transparent        : false
URxvt.internalBorder     : 0
URxvt.externalBorder     : 0
URxvt.letterSpace        : 0
URxvt.saveLines          : 10000
URxvt.scrollBar          : false
URxvt.scrollBar_right    : false
URxvt.scrollBar_floating : false
URxvt.scrollstyle        : rxvt

! -- Perl extensions -- !
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.matcher.button: 1
URxvt.url-launcher: firefox
URxvt.underlineURLs: True

! -- Fonts -- !
URxvt.font: xft:Hack:size=12, xft:Source Han Sans CN:size=12

! -- URxvt extra colors from gruvbox -- !
URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

! -- Color scheme -- !
! gruvbox
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
!Source http://github.com/altercation/solarized

!*background:              #002b36
!*foreground:              #839496
!*fadeColor:               #002b36
!*cursorColor:             #93a1a1
!*pointerColorBackground:  #586e75
!*pointerColorForeground:  #93a1a1
!*fading:                  40

!*color0:                  #073642
!*color1:                  #dc322f
!*color2:                  #859900
!*color3:                  #b58900
!*color4:                  #268bd2
!*color5:                  #d33682
!*color6:                  #2aa198
!*color7:                  #eee8d5
!*color8:                  #002b36
!*color9:                  #cb4b16
!*color10:                 #586e75
!*color11:                 #657b83
!*color12:                 #839496
!*color13:                 #6c71c4
!*color14:                 #93a1a1
!*color15:                 #fdf6e3

! -- Rofi -- !
rofi.font:                           Hack 14
! "Window width" Set from: Default
rofi.width:                          30
! "Number of lines" Set from: Default
rofi.lines:                          10
! "Whether to load and show icons" Set from: Default
rofi.show-icons:                     true
! "Theme to use to look for icons" Set from: Default
rofi.icon-theme:                     Papirus
! "New style theme file" Set from: Default
rofi.theme:                          gruvbox-dark
