snippet ctex template
	\documentclass[11pt]{article}
	\usepackage[fontset=none]{ctex}
	\usepackage[margin=1in]{geometry}
	
	\setCJKmainfont{Noto Serif CJK SC}
	\setCJKsansfont{Noto Sans CJK SC}
	\setCJKmonofont{Noto Sans Mono CJK SC}
	
	\title{$1}
	\author{$2}
	
	\begin{document}
	\maketitle

	$3
	
	\end{document}
