snippet ctex template
	\documentclass[a4paper,11pt]{article}
	\usepackage[fontset=none]{ctex}
	\usepackage[margin=1in]{geometry}
	\usepackage{amsmath}
	\usepackage{amssymb}
	\usepackage{aas_macros}
	
	\allowdisplaybreaks
	\setCJKmainfont{Noto Serif CJK SC}
	\setCJKsansfont{Noto Sans CJK SC}
	\setCJKmonofont{Noto Sans Mono CJK SC}
	
	\title{$1}
	\author{$2}
	
	\begin{document}
	\maketitle
	
	$3
	
	\end{document}
