# map caps key to escape for all keyboards with capslock
KERNEL    == "input[0-9]*::capslock",\
SUBSYSTEM == "leds",\
ACTION    == "add",\
RUN       += "/usr/local/bin/udev-local capslock"

# power on/off notify
KERNEL    == "ADP0|AC0",\
SUBSYSTEM == "power_supply",\
ACTION    == "change",\
RUN       += "/usr/local/bin/udev-local ac $attr{online}"

# monitor change
KERNEL    == "card0",\
SUBSYSTEM == "drm",\
ACTION    == "change",\
RUN       += "/usr/local/bin/udev-local drm"

# USB storage
ACTION           == "add",\
SUBSYSTEMS       == "usb",\
SUBSYSTEM        == "block",\
ENV{ID_FS_USAGE} == "filesystem",\
RUN              += "/usr/local/bin/udev-local usb $devnode $env{ID_VENDOR} $env{ID_MODEL}"
